.catalogSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 888px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadMore {
  margin: 0 auto;
  padding: 16px 32px;
  background: transparent;
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.3s;
}

.loadMore:hover {
  border: 1px solid var(--green-hover);
}

.loadMore:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.loader {
  text-align: center;
  padding: 50px;
  font-size: 20px;
  color: var(--text);
}

.scrollTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.scrollTop.isVisible {
  opacity: 1;
  visibility: visible;
}

.scrollTop:hover {
  background-color: var(--inputs);
  border-color: var(--green-hover);
  transform: translateY(-5px);
}

.scrollTop svg {
  fill: var(--green-hover);
}
