.sidebar {
  background: #f7f7f7;
  padding: 16px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.mobileToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 4px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--main);
}

.toggleLabel {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  font-size: 18px;
}

.chevron {
  transition: transform 0.3s ease;
}

.chevronRotated {
  transform: rotate(180deg);
}

.accordion {
  display: grid;
  grid-template-rows: 0fr;
  transition:
    grid-template-rows 0.4s ease,
    margin 0.4s ease;
  overflow: hidden;
}

.accordion.isExpanded {
  grid-template-rows: 1fr;
  margin-top: 24px;
}

.innerContent {
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.locationSection {
  margin-bottom: 8px;
}

.label {
  display: block;
  font-size: 16px;
  color: var(--gray);
  margin-bottom: 8px;
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 18px 18px 18px 48px;
  border-radius: 12px;
  border: none;
  background: #fff;
  font-size: 16px;
  outline: none;
}

.mapIcon {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
}

.filtersWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mainTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--main);
}

.filterSubtitle {
  font-size: 16px;
  color: var(--gray);
  margin-bottom: 16px;
}

.radioList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 16px;
}

.radioLabel input {
  display: none;
}

.customRadio {
  width: 24px;
  height: 24px;
  border: 1.5px solid #6c7275;
  border-radius: 50%;
  position: relative;
  transition: 0.2s ease;
}

.radioLabel input:checked + .customRadio::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background: var(--text);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.searchBtn,
.clearBtn {
  width: 100%;
  padding: 16px;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.searchBtn {
  background: var(--grey-green);
  color: white;
  border: none;
}

.clearBtn {
  background: white;
  color: #101828;
  border: 1px solid var(--gray-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

@media screen and (min-width: 1024px) {
  .mobileToggle {
    display: none;
  }

  .accordion {
    grid-template-rows: 1fr;
    overflow: visible;
  }

  .sidebar {
    padding: 24px;
    gap: 48px;
  }

  .accordion.isExpanded {
    margin-top: 0;
  }
}
