.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 650px;
}

.headerSection,
.detailsSection {
  background: var(--inputs);
  border-radius: 16px;
  padding: 24px;
}

.name {
  margin-bottom: 8px;
}

.name,
.sectionTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}

.meta {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 16px;
}

.rating,
.location {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 24px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

.sectionTitle {
  margin-bottom: 16px;
}

.badges {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.badge {
  padding: 12px 18px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  background: var(--badges);
}

.badges::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--gray-light);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.table tr {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.table td {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.table td:first-child {
  color: #101828;
}

.table td:last-child {
  text-align: right;
}
